<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title><%= title %></title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <link rel="stylesheet" href="/stylesheets/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">
</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 25%">
        <form action="addItem">
            <div class="row">
              <div class="five columns">
                <label for="name">Name</label>
                <input class="u-full-width" type="text" id="name" name="name" required>
              </div>
              <div class="five columns">
                <label for="category">category</label>
                <input class="u-full-width" type="text" id="category" name="category" required>
              </div>
              <div class="two columns">
                <label for="stock">stock</label>
                <input class="u-full-width" type="number" id="stock" name="stock" required min="0">
              </div>
            </div>
            <label for="Content">Content</label>
            <textarea class="u-full-width" id="Content" name="content"></textarea>
            <input class="button-primary" type="submit" value="Submit">
          </form>
      </div>
    </div>
  </div>



<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>

